<?xml version="1.0" encoding="UTF-8"?>
<theme id=""  version="0.0.1" engine="http://www.zjyouth.cn'" base='The-place'>
    <name>世贸天街</name>
    <type>wechat</type>
    <logo>@logo.jpg</logo>
    <description>
        北京世贸天街CBD主题
    </description>
    <author email="tech@zjyouth.cn" href="http://www.zjyouth.cn">Ethan.Yang</author>    
    <github></github>
    <access origin="*" />
</theme>