<!doctype html>
<html>
<head>
  {% block head %}

  <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

  <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!--  	
  <link href="/Public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet">
  <script src="/Public/js/jquery.min.js"></script>
  -->
  {% endblock %}
</head>
<body>



{% block content %}

{% endblock %}

{% block script%}
  
{% endblock %}
</body>
</html>
